<main class="w-full h-screen flex flex-col">
    <section class="w-full h-1/6 flex justify-center items-center bg-gradient-to-r from-slate-100 to-cyan-700">
        <img class="w-96 h-28" src="./../../../assets/imgs/angular-sem-fundo.png" alt="">
    </section>
    <section class="w-full h-5/6 bg-slate-100  px-4 py-2">
        <div class="w-full bg-white rounded-md border-2 z-10 px-4 py-1">
            <h2 class="font-mono text-base font-semibold mb-4">Uma breve história</h2>
            <p class="font-mono text-justify px-3">
                Angular é um framework de desenvolvimento de aplicativos web criado pelo Google. Sua história remonta ao
                ano de 2010, quando o Google lançou o AngularJS, a primeira versão do framework. <br><br>

                O AngularJS foi desenvolvido para simplificar a construção de aplicativos web complexos, fornecendo uma
                estrutura
                robusta e organizada para o desenvolvimento. Ele introduziu o conceito de "two-way data binding"
                (ligação de dados
                bidirecional), permitindo que as alterações nos dados do aplicativo fossem automaticamente refletidas na
                interface do
                usuário e vice-versa, sem a necessidade de manipulação manual do DOM. <br><br>

                O AngularJS ganhou popularidade rapidamente e foi adotado por muitos desenvolvedores e empresas em todo
                o mundo. No
                entanto, à medida que os aplicativos web se tornavam mais sofisticados e exigiam melhores desempenhos, o
                AngularJS
                começou a enfrentar limitações. Era um framework baseado em JavaScript e seu design inicial não era
                adequado para
                atender às demandas crescentes dos aplicativos modernos. <br> <br>

                Em resposta a essas limitações, o Google lançou uma versão completamente nova do Angular em 2016,
                chamada de Angular 2
                (posteriormente renomeada para apenas "Angular"). O Angular foi reescrito do zero e introduziu uma série
                de melhorias
                significativas em relação ao AngularJS. <br><br>

                Uma das principais mudanças no Angular foi a introdução de um novo mecanismo de renderização chamado
                Angular Universal,
                que permitia a renderização dos aplicativos no servidor. Isso ajudou a melhorar o desempenho e a
                experiência do usuário,
                tornando os aplicativos Angular mais rápidos e SEO-friendly. <br><br>

                Além disso, o Angular adotou uma abordagem baseada em componentes para o desenvolvimento de aplicativos,
                o que tornou o
                código mais modular, reutilizável e mais fácil de manter. Ele também introduziu o uso extensivo de
                TypeScript, uma
                linguagem de programação tipada que adiciona recursos adicionais ao JavaScript, como verificação de tipo
                estático e
                recursos de orientação a objetos. <br><br>

                Desde então, o Angular tem continuado a evoluir com lançamentos regulares de novas versões, trazendo
                melhorias, recursos
                adicionais e correções de bugs. Ele é amplamente adotado pela comunidade de desenvolvedores e é usado
                para construir uma
                variedade de aplicativos web, desde pequenos sites até grandes sistemas empresariais. <br><br>

                O Angular provou ser um framework poderoso e flexível, com uma comunidade ativa de desenvolvedores e uma
                ampla gama de
                recursos e ferramentas disponíveis. Sua história é um testemunho do compromisso contínuo do Google em
                fornecer uma
                plataforma de desenvolvimento web de ponta, impulsionando a inovação e aprimorando a experiência de
                desenvolvimento.
            </p>
        </div>
    </section>

</main>